.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/* App Header */
.ui.icon.header{
  display: contents;
}
/* Header Icon */
i.icon.comments:before {
  color: #21ba45;
}

.loading-spinner {
  position: absolute;
}

img {
  border-radius: 0% !important;
}

.api-error {
  color: red;
}

.error-debugging {
  background: lightgrey;
  margin: 5px 400px;
  padding: 10px;
}

.navbar{
  padding: 3%;
}

.ui.pagination.menu {
  margin-bottom: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.default-button{
  background: #babbbc;
}

/* Grid */
.ui.grid>.row>.column {
  margin-top: 0;
  margin-bottom: 15px;
}

/* Image - circular */
.ui.card>.image, .ui.cards>.card>.image {
  border-radius: 500rem !important;
  margin-top: 30px;
  padding: 10px 10px;
  background-color: white;
}

.ui.card>.content, .ui.cards>.card>.content {
  border-top: 0px;
  padding: 0.5rem 1rem;
}

.ui.top.attached.label+[class*="right floated"]+*, .ui.top.attached.label:first-child+:not(.attached) {
  margin-top: 0px !important;
}

/* Star Icon */
i.icon.star:before {
  color: #efcb13;
}

.ui.card>.content>a.description.card-description {
  color: #32a0d6;
}

